@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');  

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin-top: 20px;
    font-family: "Quicksand", serif;
    background-color:white;
    
    
}

:root {
  --main-color: #bc9667;
  --second-color: #edeae3;
  --text-color: #1b1b1b;
  --bg-color: #fff;

  --box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}


header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 100px;
    transition: 0.6s linear ;
    background: var(--text-color);
}
.logo img {
  width: 60px;
  border-radius: 20px;
}
  .navbar{
    display: flex;
    
}
.navbar a{
    padding: 8px 17px;
    color: var(--bg-color);
    border-radius: 0.7rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar a:hover{
    background: var(--main-color);
    border-radius: 0.5rem;
    transition: 0.5s all linear;
}
.header-icon{
    font-size: 22px;
    cursor: pointer;
    z-index: 10000;
    display: flex;
    column-gap: 0.8rem;
}
.header-icon .bx{
    color: var(--bg-color);
}
.header-icon .bx:hover{
    color: var(--main-color);
}

.search-box{
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%);
    background: var(--bg-color);
    width: 100%;
}
  
  /* تباعد تحت الهيدر لتجنب التداخل */
  h1 {
    margin-top: 120px; /* يضيف تباعد مناسب أسفل الهيدر */
    text-align: center;
    font-size: 36px;
    color: #1b1b1b;
  }
  
  .highlight {
    color: #bc9667; /* لون مختلف */
  }

  /* contact us section styling */

h2{
  margin-left: -100px;
  display: flex;
  font-size: 40px; 
  color: var(--text-color);
  margin-bottom: 20px;
}
.contact-section {
  padding: 100px;
  background: var(--light-pink-color);
}

.contact-section .section-title{
  padding-left: 45%;
}
.contact-section #section-title-us{
  color: var(--main-color);
}

.contact-section .section-content {
  display: flex;
  gap: 48px;
  align-items: center;
  justify-content: space-between;
}

.contact-section .contact-info-list .contact-info {
  display: flex;
  gap: 20px;
  margin: 20px 0;
  align-items: center;
}

.contact-section .contact-info-list .contact-info i {
  font-size: 15px;
}

.contact-section .contact-form .form-input {
  width: 100%;
  height: 50px;
  padding: 0 12px;
  outline: none;
  margin-bottom: 16px;
  background: #ffffffec;
  font-size: 15px;
  border-radius: 15px;
  border: 1px solid #33323200;
}

.contact-section .contact-form {
  max-width: 50%;
}

.contact-section .contact-form textarea.form-input {
  height: 100px;
  padding: 12px;
  resize: vertical;
}

.contact-section .contact-form .submit-button {
  padding: 10px 28px;
  outline: none;
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 20px;
  background: #bc9667;
  color: white;
  font-size: 15px;
  font-weight: 10px;
  transition: 0.3s ease;
}

.contact-section .contact-form .form-input:focus {
  border-color: #926630;
}

.contact-section .contact-form .submit-button:hover {
  color: black;
  background: transparent;
  background: #966933;
}

/* section footer  */
/* footer {
  background-color: var(--text-color);
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  font-size: 1em;
}  */
.footer-section {
  padding: 15px ;
  background: black;
  margin-bottom: none;
  

}

.footer-section .section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-section :where(.copyright-text, .social-link, .policy-link) {
  color: #fff;
  transition: 0.2s ease;
}

.footer-section .social-link-list {
  display: flex;
  gap: 25px;
}

.footer-section .social-link-list .social-link {
  font-size: 20px ;
}

.footer-section .social-link-list .social-link:hover,
.footer-section .policy-text .policy-link:hover {
  color: rgb(179, 140, 89);
}

.footer-section .policy-text .separator {
  margin: 0 5px;
  color: #fff;
}




/* Responsive media query code for max width 900px */
@media screen and (max-width: 900px ) {
  :root {
    --font-size-m: 1rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.8rem;
  }  .navbar :is(#menu-open-button, #menu-close-button) {
    font-size: var(--font-size-l);
    display: block;
  }
  .navbar :is(#menu-open-button, #menu-close-button):hover {
    color: var(--secondary-color) !important;
  }
  .navbar #menu-open-button {
    color: #fff;
  }
  .navbar .nav-menu #menu-close-button {
    position: absolute;
    right: 30px;
    top: 30px;
  }
  .navbar .nav-menu {
    display: block;
    background: #fff;
    position: fixed;
    top: 0;
    left: -300px;
    height: 100%;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    transition: left 0.2s ease;
  }

  .navbar .nav-menu .nav-link {
    display: block;
    margin-top: 17px;
    padding: 10px 22px;
    color: var(--dark-color);
    font-size: var(--font-size-l);
  }
  .hero-section .section-content {
    text-align: center;
    gap: 50px;
    padding: 30px 20px 20px;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .contact-section .contact-form {
    max-width: 100%;
  }
  .about-section .section-content {
    gap: 70px;
    flex-direction: column-reverse;
  }
  .contact-section .section-content {
    align-items: center;
    flex-direction: column-reverse;
  }
}
/* Responsive media query code for max width 640px */
@media screen and (max-width: 640px) {
  .footer-section .section-content {
    flex-direction: column;
    gap: 20px;
  }
}